//Colors
$brand-primary:#6666ff;
$grey:#dddddd;
$light-grey:#f9f9f9;
$black-grey:#555555;
$dark-grey:#777777;
$green:#e4ede0;
$green-alt:darken($green,15%);
$blue:#dfe7ed;
$blue-alt:darken($blue,15%);
$red:#eddfdf;
$red-alt:darken($red,15%);
//spaces
$space:1.4rem;
$site-max-width:50rem;
//header
$header-bg:$brand-primary;
$header-color:white;

//font-sizes
$base-font-size:1.4rem;
$big-font-size:1.8rem;
//Form inputs
$input-border:$grey;
$input-spacing:1rem;

//boxed-view
$boxed-view-overlay-bg:white;
$boxed-view-bg: white;
$boxed-view-border:$grey;

//buttons
$button-bg:$brand-primary;
$button-color:white;
$button-light-bg: lighten($button-bg, 10%);
$button-pill-color:$black-grey;
$button--secondary-bg: $light-grey;
$button--secondary-color:$dark-grey;
$button--secondary-border:$grey;

//item
$item-bg:white;
$item-border:darken($item-bg,8%);
$item-message-color:$black-grey;
