//Colors
$brand-primary:#5b4681;
$grey:#dddddd;
$light-grey:#f9f9f9;
$dark-grey:#777777;
//spaces
$space:1.4rem;
$site-max-width:50rem;
//header
$header-bg:$brand-primary;
$header-color:white;

//font-sizes
$base-font-size:1.4rem;
$big-font-size:1.8rem;
//Form inputs
$input-border:$grey;
$input-spacing:1rem;

//boxed-view
$boxed-view-overlay-bg:$grey;
$boxed-view-bg: white;

//buttons
$button-bg:$brand-primary;
$button-color:white;
$button-pill-color:$brand-primary;
$button--secondary-bg: $light-grey;
$button--secondary-color:$dark-grey;
$button--secondary-border:$grey;

//item
$item-bg:$light-grey;
$item-border:darken($item-bg,8%);
$item-message-color:$dark-grey;
