.button{
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  line-height: 1.2;
  font-size: $base-font-size;
  padding: $input-spacing;
  text-transform: uppercase;
  margin-bottom: $space;
}
.button--secondary{
  background-color:$button--secondary-bg;
  border: 1px solid $button--secondary-border;
  color: $button--secondary-color;
}
.button--link{
  display: inline-block;
  text-decoration: none;
}
.button--pill{
  background-color: transparent;
  border:1px solid $button-pill-color;
  color: $button-pill-color;
  margin: 0 ($space/2) 0 0;
  padding: .3rem .8rem;
}
.button--link-text{
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}
