.item{
  background: $item-bg;
  border: 1px solid $item-border;
  margin-bottom: $space;
  padding: $space;
}
.item__message{
  color: $item-message-color;
}
.item__statusmessage{
  color: $item-message-color;
  font-style: italic;
  margin: 0;
  text-align: center;
}
.item--position-1
{
  background: $green;
  border-color: $green-alt;
}
.item--position-2
{
  background: $blue;
  border-color: $blue-alt;
}
.item--position-3
{
  background: $red;
  border-color: $red-alt;
}
